<div class="container p-5 text-center">
  <h1>Ask the stupid coach!</h1>

  <form action="/answer" method="get">
    <input class='form-control m-2' type="text" name="question">
    <input class='btn btn-primary shadow' type="submit" value="Ask!">
  </form>
</div>
